/* fonte padrao */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
/* fonte destaque */
@import url('https://fonts.googleapis.com/css2?family=Homenaje&display=swap');
*{
    margin: 0;
    padding: 0;
}

body {
    font-family: "Inter", sans-serif;
    background-color: #EEEEEE;
}

.logo{
    position: absolute;
    left: 2.5rem;
    top: 2.5rem;
    width: 120px;
}

.banner-index{
    background-image: url('img/banner-index.png');
    height: 650px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.banner-outros{
    background-image: url('img/banner-index.png');
    height: 550px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo{
    color: white;
    position: absolute;
}

.simbolo{
    font-size: 3.5rem;
    font-family: "Inter", sans-serif;
    font-weight: 100;
    left: 5px;
}

.titulo{
    font-size: 1rem;
    font-family: "Homenaje", sans-serif;
}

.fonte-destaque {
    font-family: "Homenaje", sans-serif;
}  

.botao-index {
    font-family: "Inter", sans-serif;
    border-radius: 0.2rem;
    background-color: #98C1D9;
    border: none;
    width: 8rem;
    height: 2.5rem;
    cursor: pointer;
}

.botao-index:hover {
    background-color: #cce7f7;
}

.titulo-banner-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 12rem;
    /* flex-grow:2; */
}

.subtitulo-banner {
    color: #98C1D9;
}

.titulo-banner {
    font-size: 4rem;
    color: white;
    
}



@media (max-width: 900px) {
    #definicao-info-div{
        flex-wrap: wrap;
    }
}

#links-index {
    display:flex;
    flex-direction: row;
    justify-content: center;
    gap: 8rem;
    flex-wrap: wrap;
    margin-top: -3rem;
    padding: 0.8rem;
}



/* bg-white h-[16rem] w-[14rem] flex flex-col items-center p-3 */

.link-index {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0.5rem;
    background-color: white;
    width: 14rem;
    height: 18rem;
    border-radius: 0.3rem;
    gap: 2rem;
    flex-wrap: wrap;
    gap: 2rem;
}

.link-outros {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0.5rem;
    background-color: white;
    width: 14rem;
    height: 6rem;
    border-radius: 0.3rem;
    gap: 2rem;
    flex-wrap: wrap;
    gap: 2rem;
}

.icone-link {
    background-color: #3D5A80;
    padding: 1rem;
    margin: -2.5rem;
    border-radius: 0.3rem;
}

.link-texto {
    margin-top: 2rem;
    font-weight: 700;
    font-family: 'Homenaje',sans-serif;
    font-size: 1.5rem;
}

.link-texto-outros {
    text-decoration: none;
    margin-top: 2rem;
    font-weight: 700;
    font-family: 'Homenaje',sans-serif;
    font-size: 1.5rem;
    cursor: pointer;
    color: black;
}

.link-texto2 {
    width: 10rem;
    height: 5rem;
}

#definicao-info-div {
    display: flex;
    flex-direction: row;
    padding: 5rem;
    margin-top: 3rem;
    align-items: center;
    gap: 3rem;
}

.definicao-info-pergunta1, .definicao-info-pergunta2  {
    font-size: 3.2rem;
}

.definicao-info-pergunta1 {
    color:  #98C1D9;
}

.definicao-info-pergunta2 {
    font-family: "Homenaje", sans-serif;
    font-weight: 600;
}

#definicao-info-pergunta {
    width: 320px;

}
#definicao-info-resposta {
    max-width: 900px;
}
#definicao-info-resposta1 {
    font-size: 1.3rem;
}

#areas-info-div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    row-gap: 2rem;
}

#areas-info {
    display: flex;
    flex-direction: column;
    background-color: #98C1D9;
    padding: 5rem;
    gap: 3rem;
}

#areas-titulo {
    font-family: "Homenaje", sans-serif;
    font-weight: 600;
    font-size: 3.2rem;
    max-width: 750px;
    
}

.area {
    display: flex;
    flex-direction: row;
    gap: 0.4rem;
}

.area-2 {
    display: flex;
    flex-direction: column;
    max-width: 320px;
    gap: 1rem;
}

.linha {
    width: 1px;
    background-color: black;
    height: 180px;
}

.titulo-area{
    font-family: "Homenaje", sans-serif;
    font-weight: 600;
    font-size: 1.5rem;
}

.info-add{
    display: flex;
    flex-direction: row;
    padding: 5rem;
    gap: 0.4rem;
}
    
.linha-info-add {
    width: 1px;
    background-color: black;
    height: 100px;
}

.titulo-info-add {
    font-size: 1.5rem;
    color: #98C1D9;
    font-weight: 500;
    font-family: "Homenaje", sans-serif;
    display: inline-block; /* Necessário para aplicar transformações */
    transform: rotate(-90deg);
    /* max-height: 750px;
    max-width: 750px; */
}

.div-texto-info-add {
    display: flex;
    flex-direction: row;
    gap: 0.4rem;
}

.bold-info-add {
    font-weight: 600;
    color:#3D5A80
}

@media (max-width: 600px) {

    .titulo-banner {
        font-size: 2.5rem;
        color: white;

    }

    .linha {
        width: 1px;
        background-color: black;
        height: 220px;
    }

    .linha-info-add {
        width: 1px;
        background-color: black;
        height: 340px;
    }

    .titulo-info-add {
        font-size: 1.5rem;
        color: #98C1D9;
        font-weight: 500;
        font-family: "Homenaje", sans-serif;
        display: block; /* ou outro valor desejado */
        transform: none; /* remove a rotação */
    }

    .info-add{
        display: flex;
        flex-direction: column;
        padding: 5rem;
        gap: 0.4rem;
        flex-wrap: wrap;
    }

    .div-texto-info-add {
        display: flex;
        flex-direction: row;
        gap: 0.4rem;
    }

}

#rodape {
    display: flex;
    flex-direction: row;
    background-color: #3D5A80;
    padding: 5rem;
    justify-content: space-between;
    flex-wrap: wrap;
    color: white;
    gap: 2rem;
}

.informacao-rodape{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.informacoes-rodape{
    display: flex;
    flex-direction: row;
    gap: 2rem;
    flex-wrap: wrap;
    word-wrap: break-word;
    word-break: break-all;
}

.link-rodape {
    text-decoration: none;
    color: white;
}

.titulo-rodape{
    font-weight: 700;
}


/* paginas específicas */

.docente, .destaque, .projeto{
    display: flex;
    flex-direction: row;
   justify-content: center;
   padding: 2rem;
   gap: 4rem;
   flex-wrap: wrap;
   
}

.docente-foto, .destaque-foto, .carrossel, .projeto-foto{
    width: 380px;
    height: 380px;
    position: relative;
}

.destaque-foto, .projeto-foto{
    position: absolute;
    left: 0;
    top: 0;
}

.docente-1,.ano-disciplinas-1,.destaque-1, .projeto-1{
    background-color: #98C1D9;
}

.docente-titulo, .destaque-titulo, .projeto-titulo{
    font-size: 3rem;
    color: #3D5A80;
    font-weight: 660;
    font-family: "Homenaje", sans-serif;
}

.docente-texto, .destaque-texto, .projeto-texto{
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
    max-width: 800px; 
}

.titulo-ano{
    font-size: 2.5rem;
    color: #3D5A80;
    font-weight: 660;
    font-family: "Homenaje", sans-serif;
}

.ano-disciplinas{
    display: flex;
    flex-direction: column;
    padding: 5rem;
    gap: 2rem;
}

.disciplinas{
    display: flex;
    gap: 12rem;
    flex-wrap: wrap;
}

.disciplina-div{
    width: 300px;
    display: flex;
    gap: 1rem;
}

.linha-disciplina{
    width: 1px;
    background-color: black;
    height: 200px;
}

.titulo-disciplina{
    font-size: 1.5rem;
    color: #3D5A80;
    font-weight: 660;
    font-family: "Homenaje", sans-serif;
}

.paginacao {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    margin: 0.6rem;
}

.seta-paginas-btt {
    font-family: "Inter", sans-serif;
    border-radius: 0.2rem;
    background-color: #3D5A80;
    border: none;
    width: 1.3rem;
    height: 1.3rem;
    cursor: pointer;
    color: white;
}

.numero-paginas-btt {
    font-family: "Inter", sans-serif;
    border-radius: 0.2rem;
    background-color: #3D5A80;
    border: none;
    width: 2rem;
    height: 2rem;
    cursor: pointer;
    color: white;
}

.voltar-carrossel{
    position: absolute;
    top: 40%;
    color: white;
    z-index: 10;
    font-size: 2.5rem;
    font-weight: 100;
    left: 2%;
}
.passar-carrossel{
    position: absolute;
    top: 40%;
    right: 2%;
    color: white;
    z-index: 10;
    font-size: 2.5rem;
    font-weight: 100;
}
@keyframes tira{
    from{
        opacity: 100%;
    }
    to{
        opacity: 0%;
    }
}
@keyframes coloca{
    from{
        opacity: 0%;
    }
    to{
        opacity: 100%;
    }
}
/* .botao-index {
    
}

.botao-index:hover {
    background-color: #cce7f7;
} */

