/* fonte padrao */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
/* fonte destaque */
@import url('https://fonts.googleapis.com/css2?family=Homenaje&display=swap');
*{
    margin: 0;
    padding: 0;
}

body {
    font-family: "Inter", sans-serif;
    background-color: #EEEEEE;
}

.logo{
    position: absolute;
    left: 2.5rem;
    top: 2.5rem;
    width: 120px;
}

.banner-index{
    background-image: url('img/banner-index.png');
    height: 650px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo{
    color: white;
    position: absolute;
}

.simbolo{
    font-size: 3.5rem;
    font-family: "Inter", sans-serif;
    font-weight: 100;
    left: 5px;
}

.titulo{
    font-size: 1rem;
    font-family: "Homenaje", sans-serif;
}

.fonte-destaque {
    font-family: "Homenaje", sans-serif;
}  

.botao-index {
    font-family: "Inter", sans-serif;
    border-radius: 0.2rem;
    background-color: #98C1D9;
    border: none;
    width: 8rem;
    height: 2.5rem;
    cursor: pointer;
}

.botao-index:hover {
    background-color: #cce7f7;
}

.titulo-banner-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 12rem;
    /* flex-grow:2; */
}

.subtitulo-banner {
    color: #98C1D9;
}

.titulo-banner {
    font-size: 4rem;
    color: white;
    
}



@media (max-width: 900px) {
    #definicao-info-div{
        flex-wrap: wrap;
    }
}

#links-index {
    display:flex;
    flex-direction: row;
    justify-content: center;
    gap: 8rem;
    flex-wrap: wrap;
    margin-top: -3rem;
    padding: 0.8rem;
}



/* bg-white h-[16rem] w-[14rem] flex flex-col items-center p-3 */

.link-index {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0.5rem;
    background-color: white;
    width: 14rem;
    height: 18rem;
    border-radius: 0.3rem;
    gap: 2rem;
    flex-wrap: wrap;
    gap: 2rem;
}

.icone-link {
    background-color: #3D5A80;
    padding: 1rem;
    margin: -2.5rem;
    border-radius: 0.3rem;
}

.link-texto {
    margin-top: 2rem;
    font-weight: 700;
    font-family: 'Homenaje',sans-serif;
    font-size: 1.5rem;
}

.link-texto2 {
    width: 10rem;
}

#definicao-info-div {
    display: flex;
    flex-direction: row;
    padding: 5rem;
    margin-top: 3rem;
    align-items: center;
    gap: 3rem;
}

.definicao-info-pergunta1, .definicao-info-pergunta2  {
    font-size: 3.2rem;
}

.definicao-info-pergunta1 {
    color:  #98C1D9;
}

.definicao-info-pergunta2 {
    font-family: "Homenaje", sans-serif;
    font-weight: 600;
}

#definicao-info-pergunta {
    width: 320px;

}
#definicao-info-resposta {
    max-width: 900px;
}
#definicao-info-resposta1 {
    font-size: 1.3rem;
}

#areas-info-div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    row-gap: 2rem;
}

#areas-info {
    display: flex;
    flex-direction: column;
    background-color: #98C1D9;
    padding: 5rem;
    gap: 3rem;
}

#areas-titulo {
    font-family: "Homenaje", sans-serif;
    font-weight: 600;
    font-size: 3.2rem;
    max-width: 750px;
    
}

.area {
    display: flex;
    flex-direction: row;
    gap: 0.4rem;
}

.area-2 {
    display: flex;
    flex-direction: column;
    max-width: 320px;
    gap: 1rem;
}

.linha {
    width: 1px;
    background-color: black;
    height: 180px;
}

.titulo-area{
    font-family: "Homenaje", sans-serif;
    font-weight: 600;
    font-size: 1.5rem;
}

.info-add{
    display: flex;
    flex-direction: row;
    padding: 5rem;
    gap: 0.4rem;
}
    
.linha-info-add {
    width: 1px;
    background-color: black;
    height: 100px;
}

.titulo-info-add {
    font-size: 1.5rem;
    color: #98C1D9;
    font-weight: 500;
    font-family: "Homenaje", sans-serif;
    display: inline-block; /* Necessário para aplicar transformações */
    transform: rotate(-90deg);
    /* max-height: 750px;
    max-width: 750px; */
}

.div-texto-info-add {
    display: flex;
    flex-direction: row;
    gap: 0.4rem;
}

.bold-info-add {
    font-weight: 600;
    color:#3D5A80
}

@media (max-width: 600px) {

    .titulo-banner {
        font-size: 2.5rem;
        color: white;

    }

    .linha {
        width: 1px;
        background-color: black;
        height: 220px;
    }

    .linha-info-add {
        width: 1px;
        background-color: black;
        height: 340px;
    }

    .titulo-info-add {
        font-size: 1.5rem;
        color: #98C1D9;
        font-weight: 500;
        font-family: "Homenaje", sans-serif;
        display: block; /* ou outro valor desejado */
        transform: none; /* remove a rotação */
    }

    .info-add{
        display: flex;
        flex-direction: column;
        padding: 5rem;
        gap: 0.4rem;
        flex-wrap: wrap;
    }

    .div-texto-info-add {
        display: flex;
        flex-direction: row;
        gap: 0.4rem;
    }

}

#rodape {
    display: flex;
    flex-direction: row;
    background-color: #3D5A80;
    padding: 1rem;
    gap: 8rem;
}

.informacoes-rodape {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
}

.titulos-rodape {
    display: flex;
    gap: 43rem;
    margin-left: -1rem;
    font-weight: 600;
    color: white;
}

.informacoes2-rodape {
    display: flex;
    gap: 5rem;
    color: #EEEEEE;
}

/* novo arquivo */

.docente{
    display: flex;
    flex-direction: row;
}

.docente-foto{
    width: 200px;
    height: 200px;
}

.docente-1{
    background-color: #98C1D9;
}

.docente-titulo{
    font-size: 2rem;
}